<div class="main-header">
  <span class="kindoftickets">きっぷの種類</span>をお選びください
</div>

<div class="ticket-main"> 
  <div class="btn">
    <span>指定席</span>
    </div>
  <div class="btn">
    <span>自由席</span>
    </div>
  <div class="btn internet">
    <span>インターネット予約の受取り</span>
    </div>
  <div class="btn pass">
    <span>定期券</span>
    </div>
  <div class="btn">
    <span>乗換案内から購入</span>
    </div>
  <div class="btn">
    <span>乗車券</span>
    </div>
</div>